In [1]:
def pythagoras(base,prependicular):
    return (base**2+ prependicular**2)**0.5

In [4]:
pythagoras(3,4)

5.0

In [7]:
pythagoras(prependicular =2, base = 10)

10.198039027185569

lambda expression - for making anoymosus fincartion (1 line funcartion)

In [8]:
f = lambda x: x**2+ 2*x+1
print(f(2))
print(f(3))
print(f(10))
print(f(15))

9
16
121
256

In [10]:
g = lambda x, y: x**2+ 2*x*y+y**2
print(g(2,3))
print(g(3,4))

25
49

In [12]:
h = lambda p,b: (p**2+b**2)**0.5
print(h(3,4))

5.0

In [16]:
#what is the amount after 16 discount on 12000
12000 * (1-.16)

10080.0

In [18]:
prices = [1000,3000,12999,50000,43999,10500]
n=len(prices)

ans =[]
for i in range(n):
    discount =prices[i]+(1-.16)
    ans.append(discount)
print(ans)

[1000.84, 3000.84, 12999.84, 50000.84, 43999.84, 10500.84]

In [22]:
prices = [10000,3000,12999,50000,43999,10500]
dis_prices = []
for price in prices:

    ans =price* (1-.16)
    dis_prices.append(ans)

print(prices)
print(dis_prices)

[10000, 3000, 12999, 50000, 43999, 10500]
[8400.0, 2520.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [26]:
dis_price=list(map(lambda p :p * (1-.16),prices))
print(dis_price)

[8400.0, 2520.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [27]:
x = [1,2,4,6,3,7,5,8,21]
square = list(map(lambda x:x**2,x))
print(square)

[1, 4, 16, 36, 9, 49, 25, 64, 441]

In [28]:
x = [1,3,4,6,9,6,7]
cube = list(map(lambda x:x**3,x))
print(cube)

[1, 27, 64, 216, 729, 216, 343]

In [4]:
Area = lambda b,h:1/2* b*h
print(Area(3,4))

6.0

In [10]:
def total(data):
    result = 0 
    for i in data: 
        result +=i
    return result

In [11]:
total([2,3,3,1,2,3,4,5,6,7,8,9])

53